<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Let us now load the ipython-sql  extension and establish a connection with the database

* Here you will be loading the csv files into the pandas Dataframe and then loading the data into the above mentioned sqlite tables.

* Next you will be connecting to the sqlite database  **FinalDB**.

Refer to the previous lab for hints .

<a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing_SQLite.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

In [1]:
import csv, sqlite3, pandas

con = sqlite3.connect("socioeconomic.db")
cur = con.cursor()

In [2]:
# Drop the table if already exists.
cur.execute("DROP TABLE IF EXISTS CENSUS_DATA")
cur.execute("DROP TABLE IF EXISTS CHICAGO_PUBLIC_SCHOOLS")
cur.execute("DROP TABLE IF EXISTS CHICAGO_CRIME_DATA")

In [3]:


table1 = """ CREATE TABLE CENSUS_DATA (
                          COMMUNITY_AREA_NUMBER CHAR(9) NOT NULL,
                          COMMUNITY_AREA_NAME VARCHAR(25) NOT NULL,
                          PERCENT_OF_HOUSING_CROWDED DECIMAL(10,2),
                          PERCENT_HOUSEHOLDS_BELOW_POVERTY DECIMAL(10,2),
                          PERCENT_AGED_16__UNEMPLOYED DECIMAL(10,2),
                          PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA DECIMAL(10,2),
                          PERCENT_AGED_UNDER_18_OR_OVER_64 DECIMAL(10,2),
                          PER_CAPITA_INCOME DECIMAL(10,2),
                          HARDSHIP_INDEX DECIMAL(10,2)
                        );"""

table2 = """CREATE TABLE CHICAGO_PUBLIC_SCHOOLS (
        "School_ID"	INTEGER,
        "NAME_OF_SCHOOL"	TEXT,
        "ElementaryMiddleorHighSchool"	TEXT,
        "Street_Address"	TEXT,
        "City"	TEXT,
        "State"	TEXT,
        "ZIP_Code"	INTEGER,
        "Phone_Number"	TEXT,
        "Link"	TEXT,
        "Network_Manager"	TEXT,
        "Collaborative_Name"	TEXT,
        "Adequate_Yearly_Progress_Made_"	TEXT,
        "Track_Schedule"	TEXT,
        "CPS_Performance_Policy_Status"	TEXT,
        "CPS_Performance_Policy_Level"	TEXT,
        "HEALTHY_SCHOOL_CERTIFIED"	TEXT,
        "Safety_Icon"	TEXT,
        "SAFETY_SCORE"	INTEGER,
        "Family_Involvement_Icon"	TEXT,
        "Family_Involvement_Score"	TEXT,
        "Environment_Icon"	TEXT,
        "Environment_Score"	INTEGER,
        "Instruction_Icon"	TEXT,
        "Instruction_Score"	INTEGER,
        "Leaders_Icon"	TEXT,
        "Leaders_Score"	TEXT,
        "Teachers_Icon"	TEXT,
        "Teachers_Score"	TEXT,
        "Parent_Engagement_Icon"	TEXT,
        "Parent_Engagement_Score"	TEXT,
        "Parent_Environment_Icon"	TEXT,
        "Parent_Environment_Score"	TEXT,
        "AVERAGE_STUDENT_ATTENDANCE"	TEXT,
        "Rate_of_Misconducts__per_100_students_"	REAL,
        "Average_Teacher_Attendance"	TEXT,
        "Individualized_Education_Program_Compliance_Rate"	TEXT,
        "Pk_2_Literacy__"	TEXT,
        "Pk_2_Math__"	TEXT,
        "Gr3_5_Grade_Level_Math__"	TEXT,
        "Gr3_5_Grade_Level_Read__"	TEXT,
        "Gr3_5_Keep_Pace_Read__"	TEXT,
        "Gr3_5_Keep_Pace_Math__"	TEXT,
        "Gr6_8_Grade_Level_Math__"	TEXT,
        "Gr6_8_Grade_Level_Read__"	TEXT,
        "Gr6_8_Keep_Pace_Math_"	TEXT,
        "Gr6_8_Keep_Pace_Read__"	TEXT,
        "Gr_8_Explore_Math__"	TEXT,
        "Gr_8_Explore_Read__"	TEXT,
        "ISAT_Exceeding_Math__"	TEXT,
        "ISAT_Exceeding_Reading__"	TEXT,
        "ISAT_Value_Add_Math"	TEXT,
        "ISAT_Value_Add_Read"	TEXT,
        "ISAT_Value_Add_Color_Math"	TEXT,
        "ISAT_Value_Add_Color_Read"	TEXT,
        "Students_Taking__Algebra__"	TEXT,
        "Students_Passing__Algebra__"	TEXT,
        "9thGradeEXPLORE(2009)"	TEXT,
        "9thGradeEXPLORE(2010)"	TEXT,
        "10thGradePLAN(2009)"	TEXT,
        "10thGradePLAN(2010)"	TEXT,
        "Net_Change_EXPLORE_and_PLAN"	TEXT,
        "11thGradeAverageACT(2011)"	TEXT,
        "Net_Change_PLAN_and_ACT"	TEXT,
        "College_Eligibility__"	TEXT,
        "Graduation_Rate__"	TEXT,
        "College_Enrollment_Rate__"	TEXT,
        "COLLEGE_ENROLLMENT"	INTEGER,
        "General_Services_Route"	INTEGER,
        "Freshman_on_Track_Rate__"	TEXT,
        "X_COORDINATE"	REAL,
        "Y_COORDINATE"	REAL,
        "Latitude"	REAL,
        "Longitude"	REAL,
        "COMMUNITY_AREA_NUMBER"	INTEGER,
        "COMMUNITY_AREA_NAME"	TEXT,
        "Ward"	INTEGER,
        "Police_District"	INTEGER,
        "Location"	TEXT
);"""

table3 = """
CREATE TABLE "CHICAGO_CRIME_DATA" (
	"ID"	INTEGER,
	"CASE_NUMBER"	TEXT,
	"DATE"	TEXT,
	"BLOCK"	TEXT,
	"IUCR"	INTEGER,
	"PRIMARY_TYPE"	TEXT,
	"DESCRIPTION"	TEXT,
	"LOCATION_DESCRIPTION"	TEXT,
	"ARREST"	TEXT,
	"DOMESTIC"	TEXT,
	"BEAT"	INTEGER,
	"DISTRICT"	INTEGER,
	"WARD"	INTEGER,
	"COMMUNITY_AREA_NUMBER"	INTEGER,
	"FBICODE"	INTEGER,
	"X_COORDINATE"	INTEGER,
	"Y_COORDINATE"	INTEGER,
	"YEAR"	INTEGER,
	"LATITUDE"	REAL,
	"LONGITUDE"	REAL,
	"LOCATION"	TEXT
);

"""
  
cur.execute(table1)  
cur.execute(table2)  
cur.execute(table3)

In [4]:
statement = '''SELECT * FROM CENSUS_DATA'''
cur.execute(statement)

In [5]:
df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

OperationalError: too many SQL variables

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

### Problem 2

##### List community areas with per capita income less than 11000.

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

### Problem 4

##### List all kidnapping crimes involving a child?

### Problem 5

##### What kinds of crimes were recorded at schools?

### Problem 6

##### List the average safety score for each type of school.

### Problem 7

##### List 5 community areas with highest % of households below poverty line

### Problem 8

##### Which community area is most crime prone?

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

Copyright © 2020 This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>